@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Choix des activités</h1>

    <form asp-action="ActivityList">
        <div style="margin-top: 40px;">
            <label for="sport">Choisir une activité : </label>
            <select name="sport" id="activity">
                <option value="Football">Match de football</option>
                <option value="Hockey">Match de hockey</option>
            </select>
        </div>

        <div style="margin-top: 40px; margin-bottom: 40px;">
            <p>Choisir un intervalle de date : </p>
            <label for="startDate">Début</label>
            <input name="startDate" type="date" id="startDate" />
            <label for="endDate">Fin</label>
            <input name="endDate" type="date" id="endDate" />
        </div>

        <input type="submit" value="Submit">
    </form>

</div>
